{% extends "base.html" %}

{% block content %}
    <!-- detail products -->
    {% for item in xiaomi %}
    <div class="product__slider-item">
            <div class="product__image display_flex">
            <a href="#"><img src="#" alt=""/></a>
            </div>

        <!-- name product -->
            <div class="product__bottom">
            <h4 class="product__bottom-name">
                <a href="#">{{item.Product_Name}}</a>
            </h4>
            </div>

        <!-- price config -->
            <div class="product__bottom-price">
                <span><span class="product-special">Cấu hình: {{item.Configuration}}</span></span>
            </div>

        <!-- price product -->
        <div class="product__bottom-price">
            <span><span class="product-special">Giá :{{item.Quantyti_In_Store}}</span></span>
        </div>
        
        <!-- add cart product -->
            {% comment %} <div class="product__bottom-action">
                <button class="btn_cart add_to_cart">
                <i class="fal fa-shopping-bag">add cart</i>
            </div> {% endcomment %}
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Thêm vào giỏ hàng
                </button>
            </form>
    </div>
    {% endfor %}
{% endblock content %}