<!doctype html>
<html lang="en">
    <head>
        <title>Thế giới công nghệ</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
        
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <script
        
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js'"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
        
            src="url 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>

        <!-- Bootstrap JavaScript Libraries -->
            <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>

        <!------ Include the above in your HEAD tag ---------->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </head>

    <body>
        <!-- NAVBAR -->
        <div>
            <nav class="navbar bg-danger">
                <div class="container-fluid">
                    <a href="{% url 'home' %}">Quay lại</a>
                    <h3 >Thế giới công nghệ | Giỏ hàng </h3>
                    <form class="d-flex " role="search">
                        <input class="form-control me-5" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-success " type="submit">Search</button>
                    </form>
                <!-- info -->
                    <a href='#' title=''>Thông tin tài khoản</a>
                </div>
            </nav>
        </div>
        
        <!-- phần giỏ hàng -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Sản phẩm</th>
                                <th>Số lượng</th>
                                <th class="text-center">Giá</th>
                                <th class="text-center">Tổng tiền</th>
                                <th>Xóa khỏi giỏ hàng</th>
                            </tr>
                        </thead>
                        <tbody>
                        <!-- thêm thông tin giỏ hàng -->
                        {% for item in list_shopping_cart  %}
                            <tr>
                                <td class="col-sm-8 col-md-6">
                                    <div class="media">
                                        <img class="media-object" src="/media/{{item.Product_ID.Product_Img}}" style="width: 72px; height: 72px;">
                                        <br>
                                        <div class="media-body">
                                            <h5 class="media-heading"><span style="color: red;">{{ item.Product_ID.Product_Name }}</span></h5>
                                            <h5 class="media-heading">Chip: {{ item.Product_ID.Configuration}}</h5>
                                            <h5 class="media-heading">Xuất xứ: {{ item.Product_ID.Other}}</h5>
                                        </div>
                                    </div>
                                </td>

                                <td class="col-sm-1 col-md-1 text-center">
                                    <input type="number" name="quantity" value="{{ item.Quantity }}" class="form-control form-control-lg">
                                </td>

                                <td class="col-sm-1 col-md-1 text-center">{{ item.Product_ID.Unit_Price}}.vnđ</td>
                                <td class="col-sm-1 col-md-1 text-center"><span style="color:blue">{{total_price}}.vnđ</span></td>
                                <td class="col-sm-1 col-md-1">
                                    <button type="button" class="btn btn-danger">
                                        <span class="glyphicon glyphicon-remove"><a href="{% url 'remove_product' item.Product_ID.Product_ID %}"> Xóa</a></span>
                                    </button></td>
                            </tr>
                            
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>
                                    <a href="{% url 'list_iphone' %}"> Tiếp tục mua sắm</a> </button></td>

                                <td><button type="button" class="btn btn-success">
                                    <a href="{% url 'check_out'  %}">Thanh toán</a>
                                    <span class="glyphicon glyphicon-play"></span></button></td>
                            </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="sticky-footer bg-dark">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <p class="m-0 text-center text-white">Copyright &copy; My Website 2024</p>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </body>
</html>
