<!doctype html>
<html lang="en">
    <head>
        <title>SHOP CART</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
        
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <script
        
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js'"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
        
            src="url 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>

        <!-- Bootstrap JavaScript Libraries -->
            <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </head>

    <body>
        <!-- NAVBAR -->
        <div>
            <nav class="navbar bg-danger">
                <div class="container-fluid">
                    <a href="{% url 'home' %}">Quay lại</a>
                    <h1 class="navbar-brand">SHOP BỊP | Giỏ hàng </h1>
                    <form class="d-flex " role="search">
                        <input class="form-control me-5" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-success " type="submit">Search</button>
                    </form>
                <!-- info -->
                    
                    <a href='/singup' title='Đăng ký'>Thông tin tài khoản</a>
                </div>
            </nav>
        </div>

        <!-- list item -->
        <br>
        <div class="hstack gap-5">
            <div class="p-3">
                <h5>Hình ảnh</h5>
            </div>
            <div class="p-3 ms-auto">
                <h5>Tên sản phẩm</h5>
            </div>
            <div class="p-3 ms-auto">
                <h5>Số lượng</h5>
            </div>
            <div class="p-3 ms-auto">
                <h5>Tổng tiền</h5>
            </div>
            <div class="p-3 ms-auto">
                <h5>Mua ngay</h5>
            </div>
            <div class="p-3 ms-auto">
                <h5>Xóa khỏi giỏ hàng</h5>
            </div>
        </div>
        <hr>
        <!-- chỉ hiển thị tất cả dữ liệu của những sản phẩm đã được thêm vào -->
        {% for item in oder_detail %}
            <div class="hstack gap-5">
                <div class="p-3"></div>
                <div class="p-3 ms-auto">{{ item.Product_Name }}</div>
                <div class="p-3 ms-auto">1</div>
                <div class="p-3 ms-auto">{{ item.Unit_Price }}</div>
                <div class="table-primary p-3 ms-auto"><a href="{% url 'check_out' %}" class="btn btn-primary">Mua ngay</a></div>
                <div class="table-primary p-5 ms-auto"><a href="#" class="btn btn-danger">Xóa</a></div>
            </div>
        {% endfor %}

        <!-- Footer -->
        <footer class="sticky-footer bg-dark">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <p class="m-0 text-center text-white">Copyright &copy; My Website 2024</p>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </body>
</html>
